body{
  margin: 0px;
  background-color: rgb(227, 231, 235);
 
}

.navbar_sec{
  width: 100%;
  margin: auto;
 margin-top: 30px;


}
.my-navbar{
  background-color: rgb(249, 250, 250);
  width: 95%;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 20px 10px ;
  height: 85px;
  color:rgb(216, 15, 15)
  
 
}
.imagesec{
  width: 40px;
  height: 70px;
  border-radius: 10px;
}
.homelink{
  margin-left:20%;
  gap: 30px;
}

.dropdowns{
  margin-right: 250px;
  color: black;
   margin-right: 230px;
}
.dropdown-menus{
  background-color: rgb(165, 42, 124);
  margin-right: 350px;
 

}
.dropdown-menus :hover{
  background-color: aqua;
}

.inputs{
  margin-right: 10px;

}
.input{
   width: 300px;
   text-align: center;
}
.linkss{
  margin-left: 30px;
}