
.carouseldiv{
    margin-top: 100px;
    background-color: aqua;
    width: 100%;
    /* margin-left: 1px; */
  

}

.carouselcontainer{
 
    
margin-right: 20px;
}
.carouselcontainer2{
    margin-right: 30px;
}